<a href="https://colab.research.google.com/github/imchihchao/aop113b/blob/main/nb01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Basic

In [ ]:
# 註解
'''
多行註解
1
2
'''

In [ ]:
# 資料型態
'1'+'1'
1+1

2

In [ ]:
type('tes')

str

In [ ]:
# 資料輸出與格式化
print('Hello', 'world', sep='---', end='\n')

Hello---world

In [ ]:
'\''

"'"

In [ ]:
# 問候
name = input('請輸入您的姓名：')
print('您好！', name)

請輸入您的姓名：123
您好！ 123

## Expression

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
'123' * 5

'123123123123123'

## Control Flow

### 條件判斷

In [ ]:
# ⾼鐵兒童免費
cost = 1490
age = int(input('年紀:'))
if age <= 6:
    cost = 0
print('⾞票費⽤', cost)

年紀:3
⾞票費⽤ 0

In [ ]:
# 輸入分數後，判斷分數是否及格。
s = int(input())
if s < 60:
    print('不及格')
else:
    print('及格')

80
及格

### 迴圈

In [2]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
lst = [2,5,6,7]
for i in lst:
    print(i)

2
5
6
7

In [4]:
# 等差級數和
sum = 0
for i in range(101):
    sum += i
print(sum)

5050

In [5]:
# 輸入正確的密碼才能通過
password = 'Life finds a way.'
while input('Password:') != password:
    print('Password incorrect!')
print('Pass')

Password:2354
Password incorrect!
Password:8755
Password incorrect!
Password:bfjhyuo
Password incorrect!
Password:io798798
Password incorrect!
Password:Life finds a way.
Pass

### 例外處理

In [8]:
# 取餘數
try:
    n = int(input())
    m = int(input())
    r = n % m
except:
    print("Something wrong!")
else:
    print(r)
finally:
    print("Bye!")

p
Something wrong!
Bye!

## String

In [11]:
print("Hello, %s. %010d" % ("World", 520))

Hello, World. 0000000520

In [12]:
name = "Alice"
age = 25
print("My name is {} and I am {} years old.".format(name, age))

My name is Alice and I am 25 years old.

In [13]:
x = 9
y = 9
print(f'{x:02} * {y:02} = {x*y}')

09 * 09 = 81

In [14]:
text = "abcdefghij"
print(text[2:8:2])
print(text[::-1])

ceg
jihgfedcba

In [15]:
text = "apple,banana,cherry"
result = text.split(",")
print(result)

['apple', 'banana', 'cherry']

In [16]:
text = "apple banana apple cherry"
result = text.replace("apple", "grape")
print(result)

grape banana grape cherry

In [17]:
# 建立一個元組
fruits = ('apple', 'banana', 'cherry', 'apple', 'banana', 'apple')
banana_index = fruits.index('banana')
print("第一個 'banana' 的索引位置:", banana_index)
apple_count = fruits.count('apple')
print("'apple' 出現的次數:", apple_count)

第一個 'banana' 的索引位置: 1
'apple' 出現的次數: 3

In [22]:
nm = input('two nums:')
nms = nm.split()
a, b = map(int, nms)

two nums:5 6

In [26]:
"-".join(["Apple", "Banana", "Cherry"])

'Apple-Banana-Cherry'

In [27]:
for i, val in enumerate(["Spring", "Summer"], 1):
    print(i, val)

1 Spring
2 Summer

In [28]:
lst = []
for i in range(1,11):
    lst.append(i*i)

print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
lst = [ i*i for i in range(1,11) ]
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
# 建立字典
student_scores = {"Alice": 85, "Bob": 90, "Charlie": 78}
# 訪問字典中的值
print("Alice 的分數:", student_scores["Alice"])
# 新增或更新字典中的項目
student_scores["David"] = 88  # 新增
student_scores["Alice"] = 92  # 更新
print("更新後的字典:", student_scores)
# 刪除字典中的項目
del student_scores["Charlie"]
print("刪除後的字典:", student_scores)

Alice 的分數: 85
更新後的字典: {'Alice': 92, 'Bob': 90, 'Charlie': 78, 'David': 88}
刪除後的字典: {'Alice': 92, 'Bob': 90, 'David': 88}

In [31]:
student_scores["Mike"]

KeyError: 'Mike'

In [32]:
keys = student_scores.keys()
print("字典中的鍵:", list(keys))

字典中的鍵: ['Alice', 'Bob', 'David']

In [33]:
values = student_scores.values()
print("字典中的值:", list(values))

字典中的值: [92, 90, 88]

In [34]:
# 獲取所有鍵值對
items = student_scores.items()
print("字典中的鍵值對:", list(items))

字典中的鍵值對: [('Alice', 92), ('Bob', 90), ('David', 88)]

In [35]:
for name, score in student_scores.items():
    print(f"{name} 的分數是 {score}")

Alice 的分數是 92
Bob 的分數是 90
David 的分數是 88